body {
    /* width: 100%; */
    /* background-color: #880000; */
    /* background: linear-gradient(to left, #111111, #880000); */
    background-image: url(/static/images/wood-texture-1.webp);
    color:#cccccc;
  }
  
  .btn_design {
      font-size: 28px;
      width: 400px;
      height: 250px;
      display: block;
      margin: 0 auto;
      margin-top: 80px;
      text-align: center;
      font-weight: bold;
      padding: 20px 15px;
      /* background-color: #ffffff; */
      background-image: url(/static/images/meeting.jpg);
      background-size: cover;
      color: #000000;
      border: #000000 solid 2px;
      -webkit-text-stroke: 1px #f0ffff;
      border-radius: 5px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      box-shadow: 0 0 6px 0 
        rgba(0, 0, 0, 0.5);
      transition: 0.2s;
  }
    
  /* マウスオーバー時 */
  .btn_design:hover{
        box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
        transform: translateY(-5px);
        cursor: pointer;
  }
  
  h1{
    text-align: center;
  }

  .file_btn{
    font-size: 20px;
    width: 350px;
    height: 35px;
    display: block;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
  }

  .upload_btn_design{
    font-size: 28px;
    width: 200px;
    height: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
    font-weight: bold;
    padding: 20px 15px;
    background-image: url(/static/images/upload.jpeg);
    background-size: cover;
    color: #000000;
    border: #000000 solid 2px;
    -webkit-text-stroke: 1px #f0ffff;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0 6px 0 
      rgba(0, 0, 0, 0.5);
    transition: 0.2s;
  }
    
  /* マウスオーバー時 */
  .upload_btn_design:hover{
        box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
        transform: translateY(-5px);
        cursor: pointer;
  }